<a href="https://colab.research.google.com/github/PhwTha00/pythonbtvn6/blob/main/baitapvoifileexcel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
## Kết nối google drive và google collab
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import numpy as np
import pandas as pd

In [17]:
## Đọc file data từ google drive
dataset = pd.read_excel("/content/drive/MyDrive/data_06.xlsx")
print(dataset)
print(dataset.head())

                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1       PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3      NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4          TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6
..                   ...    ...                        ...            ...
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
639      NGUYỄN TƯỜNG VY  60622        THCS Trịnh Hoài Đức              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0              2.0        3.0  9.00   8.9  8.75  29.65         1
1              7.0        2.0  8.75   9.6  9.25  29.60         2
2              7.0        2.0  8.25   9.6  9.25  29.10         3
3              7.0        NaN  8.75  10.0  9.25  28.00         4
4              2.0        2.0  8.25   9.7  8.00  27.95         5
..             ...        ...   ...   ...   ...    ...       ...
636            8.0        NaN  6.75   3.9  2.75  13.40       637
637           30.0        NaN  6.25   3.6  3.50  13.35       638
638            8.0        NaN  6.00   3.5  3.25  12.75       639
639            8.0        NaN  6.25   3.2  3.00  12.45       640
640           30.0        NaN  5.50   2.4  3.75  11.65       641

[641 rows x 11 columns]
                 Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0       QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1   PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2     TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3  NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4      TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6

   Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0            2.0        3.0  9.00   8.9  8.75  29.65         1
1            7.0        2.0  8.75   9.6  9.25  29.60         2
2            7.0        2.0  8.25   9.6  9.25  29.10         3
3            7.0        NaN  8.75  10.0  9.25  28.00         4
4            2.0        2.0  8.25   9.7  8.00  27.95         5

In [18]:
data = dataset.to_numpy()
print(data.shape)

(641, 11)

In [19]:
print(data[0])

['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' 6 2.0 3.0 9.0 8.9 8.75 29.65 1]

In [20]:
print(data.dtype)

object

In [21]:
print(data[0].dtype)

object

In [22]:
np.nan_to_num([0.3, np.nan, 2.4])

array([0.3, 0. , 2.4])

In [23]:
data[:, 5] = np.nan_to_num(data[:, 5].astype(float))
print(data[:, 5])
print(data[-1])

[3.0 2.0 2.0 0.0 2.0 0.0 2.0 0.0 0.0 2.0 2.0 0.0 1.0 0.0 0.0 2.0 2.0 1.0
 0.0 1.0 0.0 0.0 0.0 0.0 2.0 2.0 2.0 0.0 2.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 2.0 0.0 2.0 0.0 2.0 0.0 2.5 0.0 0.0 0.0 2.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 2.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 2.0 1.0 0.0
 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0
 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 2.0 0.0
 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 1.0 0.0 2.0 0.0 0.0 0.0 2.0 2.0 1.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 2.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 2.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 2.0 0.0 0.0 0.0
 1.5 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]
['LƯU QUANG ĐÔ' 60108 'THCS Trịnh Hoài Đức' 6 30.0 0.0 5.5 2.4 3.75 11.65
 641]

In [ ]:
## Đưa ra thông tin của bạn với mã số: 60457
## Đưa ra thông tin của bạn với tên là: Nguyễn Đình Nhân
## Đưa ra thông tin của các bạn từ mã số: 60004 đến  60200 (Bạn nào không có thì không cần đưa ra)


## Tính điểm thi trung bình cho từng bạn sinh viên
## Tính điểm thi trung bình theo từng môn cho toàn bộ sinh viên
## Đưa ra điểm thi trung bình cao nhất và thấp nhất cho toàn bộ 3 môn.
## Xếp danh sách dựa vào điểm trung bình của môn Toán + Anh, tìm bạn có vị trí 100


## Giả sử 1 trường lấy toàn bộ 300 sinh viên, dựa theo
## a) Điểm môn Toán từ cao xuống thấp
## b) Điểm tổng 3 môn và điểm cộng từ cao xuống thấp
## c) Điểm trung bình 3 môn từ cao xuống thấp
## Đưa ra danh sách những bạn sinh viên được chọn vào trường đó.


## So sánh 2 bạn sinh viên mã số: 60575 và 60602 dựa trên tổng điểm 3 môn (không tính điểm cộng)

In [24]:
# Lấy thông tin của sinh viên có mã số là 60457
student_info = dataset[dataset['Mã số'] == 60457]
print("Thông tin của sinh viên có mã số 60457:")
print(student_info)

Thông tin của sinh viên có mã số 60457:
                      Tên  Mã số   Trường cấp 2  Nguyện vọng 1  Nguyện vọng 2  \
100  NGUYỄN LÊ PHƯƠNG TÂM  60457  THCS Phú Long              6            7.0

     Điểm cộng  Văn  Anh  Toán   Tổng  Xếp hạng
100        2.0  7.0  9.4  6.25  24.65       101

In [25]:
# Lấy thông tin của sinh viên có tên là 'Nguyễn Đình Nhân'
student_info = dataset[dataset['Tên'] == 'Nguyễn Đình Nhân']
print("Thông tin của sinh viên có tên Nguyễn Đình Nhân:")
print(student_info)

Thông tin của sinh viên có tên Nguyễn Đình Nhân:
Empty DataFrame
Columns: [Tên, Mã số, Trường cấp 2, Nguyện vọng 1, Nguyện vọng 2, Điểm cộng, Văn, Anh, Toán, Tổng, Xếp hạng]
Index: []

In [31]:
# thông tin của các bạn từ mã số 60004 đến 60200
filtered_data = dataset[(dataset['Mã số'] >= 60004) & (dataset['Mã số'] <= 60200)]
print("Thông tin của các bạn từ mã số 60004 đến 60200:")
print(filtered_data)

Thông tin của các bạn từ mã số 60004 đến 60200:
                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
5     PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm              6
7         ĐẶNG MINH CHÂU  60067  THCS Nguyễn Thị Minh Khai              6
10         NGÔ MỸ GIA AN  60004    THCS-THPT Nguyễn Khuyến              6
..                   ...    ...                        ...            ...
634      NGUYỄN TUẤN ANH  60033            THCS Thanh Bình              6
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn  Anh  Toán   Tổng  Xếp hạng  \
0              2.0        3.0  9.00  8.9  8.75  29.65         1
2              7.0        2.0  8.25  9.6  9.25  29.10         3
5              7.0        NaN  8.50  9.9  9.50  27.90         6
7              2.0        NaN  9.00  9.9  9.00  27.90         8
10             2.0        2.0  7.50  9.3  8.75  27.55        11
..             ...        ...   ...  ...   ...    ...       ...
634            8.0        NaN  3.50  4.7  5.50  13.70       635
636            8.0        NaN  6.75  3.9  2.75  13.40       637
637           30.0        NaN  6.25  3.6  3.50  13.35       638
638            8.0        NaN  6.00  3.5  3.25  12.75       639
640           30.0        NaN  5.50  2.4  3.75  11.65       641

     Điểm trung bình
0           8.883333
2           9.033333
5           9.300000
7           9.300000
10          8.516667
..               ...
634         4.566667
636         4.466667
637         4.450000
638         4.250000
640         3.883333

[197 rows x 12 columns]

In [28]:
# Tính điểm trung bình cho từng sinh viên
dataset['Điểm trung bình'] = dataset[['Văn', 'Anh', 'Toán']].mean(axis=1)
print(dataset['Điểm trung bình'])

0      8.883333
1      9.200000
2      9.033333
3      9.333333
4      8.650000
         ...
636    4.466667
637    4.450000
638    4.250000
639    4.150000
640    3.883333
Name: Điểm trung bình, Length: 641, dtype: float64

In [29]:
# Tính điểm trung bình theo từng môn cho toàn bộ sinh viên
average_scores_by_subject = dataset[['Văn', 'Anh', 'Toán']].mean()
print("Điểm trung bình theo từng môn:")
print(average_scores_by_subject)

Điểm trung bình theo từng môn:
Văn     7.287051
Anh     6.996256
Toán    7.108034
dtype: float64

In [30]:
# Đưa ra điểm trung bình cao nhất và thấp nhất cho toàn bộ 3 môn
highest_average = dataset[['Văn', 'Anh', 'Toán']].mean().max()
lowest_average = dataset[['Văn', 'Anh', 'Toán']].mean().min()
print("Điểm trung bình cao nhất:", highest_average)
print("Điểm trung bình thấp nhất:", lowest_average)

Điểm trung bình cao nhất: 7.287051482059282
Điểm trung bình thấp nhất: 6.99625585023401

In [32]:
# Xếp hạng danh sách dựa vào điểm trung bình của môn Toán + Anh
dataset['Điểm Toán Anh'] = dataset['Toán'] + dataset['Anh']
sorted_dataset = dataset.sort_values(by='Điểm Toán Anh', ascending=False)
print("Danh sách sinh viên xếp hạng theo điểm Toán + Anh:")
print(sorted_dataset)

Danh sách sinh viên xếp hạng theo điểm Toán + Anh:
                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
11        NGUYỄN AN HOÀI  60169    THCS-THPT Nguyễn Khuyến              6
5     PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm              6
3      NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
8           LÊ MINH NGỌC  60334        THCS Trần Đại Nghĩa              6
23         PHẠM THANH HÀ  60129  THCS Nguyễn Thị Minh Khai              6
..                   ...    ...                        ...            ...
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
639      NGUYỄN TƯỜNG VY  60622        THCS Trịnh Hoài Đức              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng  \
11             2.0        NaN  8.00  10.0  9.50  27.50        12
5              7.0        NaN  8.50   9.9  9.50  27.90         6
3              7.0        NaN  8.75  10.0  9.25  28.00         4
8              7.0        NaN  8.75   9.3  9.75  27.80         9
23             2.0        NaN  7.50   9.5  9.50  26.50        24
..             ...        ...   ...   ...   ...    ...       ...
637           30.0        NaN  6.25   3.6  3.50  13.35       638
638            8.0        NaN  6.00   3.5  3.25  12.75       639
636            8.0        NaN  6.75   3.9  2.75  13.40       637
639            8.0        NaN  6.25   3.2  3.00  12.45       640
640           30.0        NaN  5.50   2.4  3.75  11.65       641

     Điểm trung bình  Điểm Toán Anh
11          9.166667          19.50
5           9.300000          19.40
3           9.333333          19.25
8           9.266667          19.05
23          8.833333          19.00
..               ...            ...
637         4.450000           7.10
638         4.250000           6.75
636         4.466667           6.65
639         4.150000           6.20
640         3.883333           6.15

[641 rows x 13 columns]

In [40]:
# Sắp xếp danh sách theo điểm môn Toán từ cao xuống thấp
sorted_by_math_score = dataset.sort_values(by='Toán', ascending=False)
top_math_students = sorted_by_math_score.head(300)

# Sắp xếp danh sách theo tổng điểm 3 môn và điểm cộng từ cao xuống thấp
dataset['Tổng điểm'] = dataset[['Văn', 'Anh', 'Toán']].sum(axis=1) + dataset['Điểm cộng']
sorted_by_total_score = dataset.sort_values(by='Tổng điểm', ascending=False)
top_total_score_students = sorted_by_total_score.head(300)

# Sắp xếp danh sách theo điểm trung bình 3 môn từ cao xuống thấp
dataset['Điểm trung bình'] = dataset[['Văn', 'Anh', 'Toán']].mean(axis=1)
sorted_by_average_score = dataset.sort_values(by='Điểm trung bình', ascending=False)
top_average_score_students = sorted_by_average_score.head(300)

selected_students = pd.merge(top_math_students, top_total_score_students, how='inner', on=['Mã số', 'Tên'])
selected_students = pd.merge(selected_students, top_average_score_students, how='inner', on=['Mã số', 'Tên'])

print("Danh sách các sinh viên được chọn vào trường dựa trên các tiêu chí:")
print(selected_students[['Tên', 'Mã số', 'Trường cấp 2']])

Danh sách các sinh viên được chọn vào trường dựa trên các tiêu chí:
                            Tên  Mã số               Trường cấp 2
0                  LÊ MINH NGỌC  60334        THCS Trần Đại Nghĩa
1                 PHẠM THANH HÀ  60129  THCS Nguyễn Thị Minh Khai
2                   LƯU MINH ÂN  60037        THCS Trần Đại Nghĩa
3            PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm
4                NGUYỄN AN HOÀI  60169    THCS-THPT Nguyễn Khuyến
..                          ...    ...                        ...
190         NGÔ NGUYỄN KHÁNH VY  60612               THCS Phú Hòa
191            PHẠM THỊ NGỌC MY  60294       THCS Nguyễn Văn Trỗi
192         BÙI MINH KHÁNH ĐOAN  60107            THCS Chu Văn An
193  NGUYỄN TRƯỜNG THỤY ANH THƯ  60541        THCS Trịnh Hoài Đức
194            PHẠM PHƯƠNG ĐÔNG  60109       THCS Nguyễn Văn Tiết

[195 rows x 3 columns]

In [41]:
# So sánh điểm giữa hai sinh viên có mã số 60575 và 60602
student_60575 = dataset[dataset['Mã số'] == 60575]
student_60602 = dataset[dataset['Mã số'] == 60602]
print("Thông tin sinh viên có mã số 60575:")
print(student_60575)
print("Thông tin sinh viên có mã số 60602:")
print(student_60602)

Thông tin sinh viên có mã số 60575:
                      Tên  Mã số         Trường cấp 2  Nguyện vọng 1  \
151  NGUYỄN THỊ THÙY TRÂM  60575  THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn  Anh  Toán   Tổng  Xếp hạng  \
151            8.0        2.0  5.75  8.6   7.5  23.85       152

     Điểm trung bình  Điểm Toán Anh  Tổng điểm
151         7.283333           16.1      23.85
Thông tin sinh viên có mã số 60602:
                    Tên  Mã số     Trường cấp 2  Nguyện vọng 1  Nguyện vọng 2  \
191  PHÙNG THỊ HỒNG VÂN  60602  THCS Bình Chuẩn              6           30.0

     Điểm cộng   Văn  Anh  Toán  Tổng  Xếp hạng  Điểm trung bình  \
191        NaN  6.25  7.8  9.25  23.3       192         7.766667

     Điểm Toán Anh  Tổng điểm
191          17.05        NaN